<% if users.empty? %>
  <div class="col-md-6 col-sm-12">
    <% if page == :list %>
      <p>
        You have not yet added any friends.
        <%= link_to 'Find them here', :friends_search_form %>.
      </p>
    <% elsif page == :search %>
     <p>No users found!</p>
    <% end %>
  </div>
<% else %>
  <% users.each do |user| %>
    <% pawn_color = "%06x" % (rand * 0xffffff)%>
    <div class="col-md-3 col-sm-6 col-sm-12 center-text">
      <% if page.in? [:list, :search]  %>
      <a href="/friends/<%= user.id %>">
        <div class="well friend-well" >
          <%= image_tag 'pawn-invert.png', size: "28x50", class: 'pawn-mask', style: "background: #" + pawn_color + ";" %>
          <p><%= user.name %></p>
        </div>
      </a>
      <% elsif page == :event %>
      <div class="well friend-well friend-select <% @invited_friends.include?(user) ? 'selected' : '' %>" >
        <%= image_tag 'pawn-invert.png', size: "28x50", class: 'pawn-mask', style: "background: #" + pawn_color + ";" %>
        <p><%= user.name %></p>
        <input class="friend_id" type="hidden" value="<%= user.id %>"/>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>


